body {
  max-width: 1440px;
  margin: 0;
  font-family: -apple-system, 'Manrope', sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-background-color: #fffffa;
  --primary-text-color: #121417;
  --secondary-text-color: #12141780;
  --accent-color: #3470FF;
  --button-text-color: #ffffff;
  --color-hover: #0B44CD;
  --conditions-background-color: #f9f9f9;
  --conditions-text-color: #363535;
  --label-text-color: #8a8a89;
  --input-background-color: #f7f7fb;
}

* {
  box-sizing: border-box;
}

* {
  list-style-type: none;
}

* {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}


h1,
h2,
h3,
h4,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

